/* Universal Styles */
html {
    font-size: 16px;
    font-family: 'IBM Plex Sans', sans-serif;
}

strong {
    font-weight: bold;
}

h1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

h2 {
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
}

h3 {
    font-weight: bold;
}

p {
    margin-bottom: 0.5rem;
    line-height: 1.1;
}

.tag {
    padding: 1px 8px 5px;
    border-left: 1px solid #6d6d6d;
    border-bottom: 1px solid #6d6d6d;
    width: fit-content;
    font-family: 'IBM Plex Mono', monospace;
    text-transform: uppercase;
    font-size: 0.75rem;
}

.main-content {
    position: relative;
    top: 64px;
}

.media-container {
    overflow: hidden;
}
  
.media-container img,
.media-container video {
    display: block;
    width: 100%;
}

/* Flex container */
.flex-content {
    display: flex;
    padding: 0 1.5rem;
}

.flex-content .info-content {
    width: 60%;
    padding: 2rem 1.5rem 2rem 0;
}

.flex-content .supporting-content {
    display: flex;
    flex-direction: column;
    width: 40%;
    padding: 2rem 0;
}

/* Content image box */
.content-image-box {
    display: flex;
    padding: 1rem 0 1rem 0;
    margin-left: 1rem;
    border-bottom: 1px solid #a1a1a1;
  }

.content-image-box:first-child {
    padding-top: 0;
}

.content-image-box .media-container {
    width: 35%;
}
  
.content-image-box .text-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 65%;
    padding: 0 0.75rem 0 1rem;
}
  
.content-image-box h4 {
    margin-bottom: .5rem;
    font-size: 1.25rem;
    font-weight: bold;
}
  
.content-image-box p {
    padding-bottom: .5rem;
}

@media only screen and (max-width: 600px) {
    content-image-box {
        padding-left: 0;
    }
    
    .content-image-box .media-container {
        width: 100%;
    }

}


/* Header */
header {
    box-sizing: border-box;
    position: fixed;
    z-index: 100;
    padding: 1rem 1.5rem;
    width: 100%;
    background-color: white;
}

header .desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

header .logo {
    display: flex;
    align-items: center;
}

header .logo img {
    margin-right: .5rem;
}

header ul {
    display: flex;
}

header nav a {
    margin-left: 16px;
    color: #202020;
}

header .mobile {
    display: none;
  }

@media only screen and (max-width: 600px) {
    header .desktop{
        display: none;
    }
    
    header .mobile{
        display: block;
        width: 100%;
    }

    header .mobile ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
}

/* Banner */
#banner {
    background-color: #f4f4f4;
}

#banner .supporting-content {
    justify-content: center;
}

#banner h3 {
    padding-bottom: 2rem;
    font-size: 2rem;
}

#banner p {
    margin-bottom: 2rem;
    font-size: 1.5rem;
}

#banner button {
    font-size: 1rem;
    font-weight: 300;
    color: white;
    padding: 0.5rem 0;
    background-color: gray;
    border: 0;
    transition: background-color 100ms ease-in-out;
}

#banner button:hover {
    background-color: #a1a1a1;
}

@media only screen and (max-width: 600px) {
    #banner {
        flex-flow: column;
        padding: 0;
    }

    #banner .info-content {
        width: auto;
        padding: 0;
    }
    
    #banner .supporting-content {
        width: auto;
        padding: 2rem 1rem;
    }

}

/* Information */
#on-campus .info-content h3 {
    padding-top: 2rem;
    padding-bottom: 1.5rem;
    font-size: 1.5rem;
}

#on-campus a {
    color: deepskyblue;
}
  
#on-campus .supporting-content {
    justify-content: space-between;
}

@media only screen and (max-width: 600px) {
    #on-campus .flex-content {
        padding: 0 1rem;
    }
  
    #on-campus .info-content {
        display: none;
    }
  
    #on-campus .supporting-content {
        width: 100%;
    }
  
    #on-campus .supporting-content .content-image-box {
        flex-direction: column;
    }
  
    #on-campus .text-content {
        max-width: 14rem;
        padding: 1rem;
    }
}

/* Courses */
.courses {
    background-color: #f4f4f4;
    padding: 2rem 3.5rem;
}

.courses h2 {
    text-align: center;
    margin-bottom: 1rem;
}

.course-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.card {
    display: flex;
    flex-direction: column;
    flex: 1 1;
    min-width: 290px;
    background-color: white;
    margin: 1rem;
    transition: background-color 100ms ease-in-out;
}

.card:hover {
    background-color: #a1a1a1;
}

.card h3,
.card h4 {
  margin-bottom: .5rem;
}

.card .content{
    padding: 1rem;
}

@media only screen and (max-width: 600px) {
    .courses {
        background-color: white;
        padding: 1.5rem 1rem;
    }

    .course-cards {
        flex-flow: column;
    }

    .card {
        background-color: #f4f4f4;
        margin: 0.5rem;
        min-width: auto;
    }

    .card img,
    .card p,
    .card h4 {
        display: none;
    }

}

/* Thesis */
#thesis {
   padding: 2rem 0; 
}

#thesis h2 {
    text-align: center;
}

#thesis .info-content {
    padding-bottom: 0;
}

#thesis .info-content h3 {
    padding-top: 2rem;
    padding-bottom: 1.5rem;
    font-size: 1.5rem;
}

@media only screen and (max-width: 600px) {
    #thesis .info-content h3,
    #thesis .info-content p,
    #thesis .supporting-content {
      display: none;
    }
  
    #thesis {
      padding-bottom: 1.5rem;
    }
  
    #thesis .flex-content {
      padding: 0;
    }
  
    #thesis .info-content {
      width: 100%;
      padding: 0;
      margin-right: 0;
    }
}


/* Footer */
footer {
    position: relative;
    top: 64px;
    display: flex;
    justify-content: space-between;
    padding: 16px 24px 64px;
    border-top: 1px solid black ;
}

footer ul {
    display: flex;
}

footer a {
    margin-left: 16px;
}

@media only screen and (max-width: 600px) {
    footer {
        padding: 16px;
        border-top: 0;
    }

    footer ul {
        display: none;
    }
}
